services:
  db:
    image: postgres:15
    container_name: relaybus-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  users-service:
    build: ./services/users-service
    container_name: users-service
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "4001:4001"

  gateway:
    build: .              # ✅ build من root
    container_name: api-gateway
    depends_on:
      - users-service
    environment:
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "4000:4000"

volumes:
  postgres_data:
